#labelNama, #labelTipeInventory, #labelJenisObat, #labelGolongan{
  color: red;
  display: none;
}
.borderMerah{
  border:  solid 1px #FF0000 !important;
}
.tombol-dropdown{
  margin-left: 5px; 
  margin-bottom: 5px; 
  width: 92%;
  text-align: left !important;
}

.tombol-dropdown-last{
  margin-left: 5px; 
  width: 92%;
  text-align: left !important;
}

.menu-aksi{
  width: 100px !important;
}
